.top-container {
  background-color: #f6f5f5;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin: 50px auto 0px auto;
  font-size: 562.5%;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  line-height: 2;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.bottom-container {
  background-color: #66BFBF;
  margin-bottom: 0px;
  height: 150px;


}

.middle-container {
  margin: 100px 0;
}

body {
  margin: 0;
  text-align: center;
  font-family: Merriweather', serif;
  color:#40514E;

}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 60px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
h3{
  color:#11999E;
}
a{
  color:#11999E;
  position: relativ;
  margin-left:50px;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;


}
a:hover{
  color:#f4eee8;
}
.pro{
  font-weight: normal;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.program-img{
  width:15%;
  float:left;
  margin-right: 30px;
}
.game-img{
  width:15%;
  float:right;
  margin-right:30px;
}
p{
  color:#40514E;

}
hr{
  border-style:dotted none none none;
  border-color:#EAF6F6;
  border-width: 5px;
  width: 5%;
  margin-top:50px;
  margin-bottom: 50px;
}
.btn{
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Verdana;
   width: 108px;
   font-size: 15px;
   font-weight: 100;
   padding: 22px;
   background-color: #66BFBF;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 50px;
   margin-top: 100px;
}
.copyright{
  margin-top: 100px;
  margin-bottom: 40px;
  color: #EAF6F6;
}
.links{
  position: relative;
  top:50px;
}
.intro{
  width:30%;
  margin: auto;
}
